@media (min-width: 1024px){
    .hide-on-pc{
        display: none;
    }
}
/* mobile */
@media (max-width:767px) and (min-width:320px){
    .hide-on-mobile{
        display: none;
    }
    .show-on-mobile{
        display: block;
    }
    /* *{
        padding: 0 4px;
    } */
    .heading__logo{
        font-size: 2.5rem;
    }
    .navbar__mbtl-list{
        width: 200px;
        background-color: var(--white-color);
    }
    .navbar__mbtl-link{
        color: var(--background-btn);
    }
   .heading__content-wrap{
        margin-top:50px ;
        margin-left: 20px;
   }

   .heading__content-header{
        font-size: 3rem;
        line-height: 3.4rem;
   }
   .heading__content-des{
        margin-top: 12px;
   }
   .heading__booking-wrap{
        margin: 60px 90px 0 20px;
        width: 64vw;
   }
   .booking__content{
        padding: 12px auto;
   }
   .booking__content-head{
        text-align: center;
        font-weight: 600;
   }
    .booking__content input{
        width: 100%;
        height: 48px;
        font-size: 2.4rem;
        text-align: center;
    }
    
    .submit-book{
        top: -32px;
        right: -265px;
        border-radius: 16px;
        box-shadow: 2px 0px 4px green;
        top: 33px;
    }
    .book-submit-content{
        flex-direction: row;
    }
    .book-submit-content span{
        padding-left: 32px;
        font-size: 2.8rem;
    }

    .footer-wrap{
        text-align: center;
    }
    .footer__logo,
    .footer__icon-list{
        justify-content: center;
    }
    .form__register{
        width: 90vw;
        height: 75vh;
    }
    .form__login{
        width: 90vw;
        height: 60vh;
    }

}
/* tablet */
@media (min-width: 768px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;

    }
    .show-on-tablet{
        display: block;

    }
    .heading{
        background-size: cover;
    }
    .heading__logo-mb-tbl{
        position: relative;
    }
    .heading__logo{
        position: absolute;
        top: 4px;
        left: -28px;
    }

    /* === */
    .heading__content-wrap{
        margin-top: 200px;
    }

    .heading__content-header{
        font-size: 3.2rem;
    }

    .heading__booking-wrap{
        padding: 16px 8px;
    }
    .booking__content-head{
        font-size: 1.4rem;
    }
    .submit-book{
        top: -137px;
        right: -428px;
        width: 147px;
        height: 152px;
        border-radius: 12px;
    }

    .book-submit-content{
        padding-left: 16px;
    }
    .submit-book i{
        padding-left:-12px ;
    }

    .form__register{
        width: 60vw;
        height: 55vh;
    }
    .form__login{
        width: 60vw;
        height: 50vh;
    }
}

/* Mobile + tablet */
@media (max-width: 1023px){
    .hide-on-tablet-mobile{
        display: none;

    }
    .show-on-tablet-mobile{
        display: block;
    }
    .behavior__page-mbtl{
        display: flex;
        justify-content: center;
    }
    .special__offer-heading-wrap{
        align-items: flex-start;
    }
    .gallery__img{
        padding: 16px 16px;
    }
    .gallery__img-wrap{
        padding: 0;
    }
}