/* heading */
.heading{
    background-image: url(../img/Hinh-nen-Ha-Noi-ve-dem-ben-Ho-Guom.jpg);
    height: 120vh;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    margin-top: 35px;
    padding-bottom: 12px;
    color: var(--white-color);
    font-size: 500;
}

.heading__logo i{
    line-height: 4rem;
    font-size: 3.6rem;
    padding-right: 12px;
}


.navbar__list{
    display: flex;
    font-size: 2.3rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.navbar__item{
    margin-top: 45px;
    padding-right: 24px;
}
.navbar__item-link:hover{
    background-color: var(--background-btn);
}

.navbar__item-active{
    border-bottom: 3px solid var(--background-btn);
}
.navbar__item-link{
    color: var(--white-color);
    padding: 8px 12px;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.log{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: var(--white-color);
    font-size: 2.1rem;
    cursor: pointer;
}
.login{
    padding: 8px 12px;

}
.register{
    padding: 8px 12px;
    background-color: var(--background-btn);
    border-radius: 8px;
}

/* Icon list Mobile + tablet */
.navbar-wrap{
    position: relative;
}
.navbar__list-icon{
    display: none;
    font-size: 3.2rem;
    color: var(--white-color);
    margin-top: 45px;
    position: absolute;
    top: 0;
    right: 8px;
}
.navbar__mbtl-list
{
    display: none;
    width: 250px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px var(--background-btn);
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    top: 100px;
    right: 10px;
}

.navbar__mbtl-item
{
    padding: 16px 24px;
}

.navbar__mbtl-link
{
    font-size: 3.2rem;
    color: var(--white-color);
}
/* title */
.heading__content-wrap{
    margin-top: 100px;
    width: 65vw;
}
.heading__content-header{
    font-size: 6rem;
    font-weight: 400;
    color: var(--white-color);
    text-shadow: 1px 2px 4px yellow;
    font-family: 'Times New Roman', Times, serif;
}
.heading__content-des{
    color: var(--white-color);
    font-size: 2rem;
    padding: 16px 0;
    text-shadow: 1px 1px 2px yellowgreen;

}


/* heading booking */
/* .book__wrap{
    position: relative;
} */
.heading__booking-wrap{
    background-color: var(--white-color);
    padding: 32px 8px;
    margin-top: 120px;
    border: 1px solid #64e236;
    border-radius: 6px;
}

.booking__content{
    margin-top: 16px;
}

.booking__content-head{
    color: #767E86;
    font-size: 1.5rem;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.booking__content input{
    border: none;
    box-shadow: 0 1px 2px var(--background-btn);
    outline: none;
    height: 24px;
    padding-left: 6px;
}

.submit-book-wrap{
    position: relative;
}
.submit-book{
    display: flex;
    background-color: var(--background-btn);
    position: absolute;
    top: -32px;
    right: 4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--white-color);

}
.submit-book:hover{
    background-color: #64e236;
    cursor: pointer;
    color: var(--background-btn);
}

.book-submit-content{
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 36px 30px 32px;
}

.submit-book i{
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    padding-right: 8px;
    
}

/* popular_destinations */
/* heading */
.destination__wrap{
    margin-top: 100px;
    margin-bottom: 120px;
   
}
.destination__title{
    font-size: 3.4rem;
    font-weight: 400;
    padding: 16px 0 24px 0;
    font-family: 'Times New Roman', Times, serif;
}

.destination__content{
    font-size: 2.2rem;
    padding: 24px 0 16px 0;
    color: #767E86;
}
.behavior__page-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}
.behavior__page{
    width: 70px;
    height: 64px;
    color: var(--white-color);
    border-radius: 16px;
}
.behavior__page:hover{
    cursor: pointer;
    opacity: 0.8 ;
}
.behavior__page i{
    font-size: 3.2rem;
    line-height: 6.4rem;
    display: flex;
    justify-content: center;
}

.previous__page{
    background-color: var(--black-color);
    margin-right:12px;
}
.next__page{
    background-color: var(--background-btn);
    margin-left: 12px;
}

/* Card */
.destinations__card-wrap{
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 32px;
    padding-top: 16px;
}
.destinations__card-wrap::-webkit-scrollbar{
    display: none;
}
.destinations__card{
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    padding-bottom: 10%;
    transition: transform linear 0.1s;
    will-change: transform;
    box-shadow: 0 2px 4px var(--background-btn);
}
.destinations__card:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.destinations__card-name{
    font-size: 2.4rem;
    padding-left: 48px;
    font-weight: 500;
    color: var(--white-color);
    line-height: 3rem;
    text-shadow: 1px 1px 2px #1dd865;
}

.destinations__card-location{
    font-size: 1.8rem;
    padding-left: 48px;
    color: var(--white-color);
    line-height: 2.4rem;
    text-shadow: 1px 1px 2px #1dd865;
}
.destinations__card-location i{
    padding-right: 4px;
}

.behavior__page-mbtl{
    display: none;
}
/* Special Offer */
.special__offer{
    margin-top: 120px;
    margin-bottom: 120px;
}
.special__offer-title-wrap{
    margin-bottom: 80px;
}

.special__offer-heading-wrap{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.special__offer-heading-title{
    font-size: 4.2rem;
    font-weight: 550;
    margin-bottom: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.special__offer-heading-content{
    font-size: 2.4rem;
    margin-top: 24px;
    padding-bottom: 18px;
}
/* special offer Card */
.special__offer-content-wrap{
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 32px;
    padding-top: 16px;
}
.special__offer-content-wrap::-webkit-scrollbar{
    display: none;
}

.cart__destination-buy{
    background-color: #FFF8F1;
    border-radius: 16px;
    box-shadow: 0 1px 4px var(--background-btn);
    transition: transform linear 0.3s;
}

.cart__destination-buy:hover{
    transform: translateY(-8px);
}
.cart__destination-buy-img{
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 40px;
}

.cart__destination-buy-title{
    font-size: 2.6rem;
    color: #767E86;
    padding: 0 16px;
    margin-bottom: 8px;
}
.cart__destination-buy-rate-list{
    display: flex;
    padding: 0 16px;
    font-size: 1.8rem;
    margin-bottom: 24px;
}
.cart__destination-buy-rate-item{
    margin-right: 8px;
    color: #FFC107;
}
.cart__destination-buy-detail{
    padding: 0 16px;
    margin-bottom: 16px;
    font-size: 1.6rem;
    color: #172432;
    line-height: 2rem;
    height: 8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cart__destination-buy-price{
    padding-bottom: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart__destination-buy-price span{
    font-size: 4rem;
    color: var(--background-btn);
}
.cart__destination-buy-btn{
    height: 64px;
    width: 160px;
    background-color: #FF7654;
    border-radius: 16px;
}

.cart__destination-buy-btn:hover{
    background-color: #58eb53;
    cursor: pointer;
}

.cart__destination-buy-btn p{
    font-size: 3rem;
    color: var(--white-color);
    line-height: 6.4rem;
    text-align: center;
}
/* Our blog */
/* .our__blog-wrap{
    
} */
.our-blog__heading{
    margin-top: 80px;
    margin-bottom: 80px;
}
.our-blog__heading-header{
    font-size: 4.4rem;
    font-weight: 500;
    color: #172432;
    margin-bottom: 16px;
    font-family: 'Times New Roman', Times, serif;

}
.our-blog__heading-content{
    color: #767E86;
    font-size: 2rem;
    margin-top: 16px;
}

.our__blog-content{
    padding-bottom: 80px;
}
.our__blog-content-img{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 26px;
    box-shadow: 0 2px 4px var(--background-btn);
    margin-bottom: 32px;
}
.our__blog-content-text-block-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.text-block__heading{
    font-size: 4.2rem;
    font-weight: 400;
    line-height: 4.8rem;
    margin-bottom: 60px;
    color: #172432;
    font-family: 'Times New Roman', Times, serif;
    
}

.text-block__content{
    font-size: 2.2rem;
    line-height: 3.6rem;
    margin-bottom: 60px;
    height: 36rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    text-overflow: ellipsis;
}
.text-block__continue{
    display: flex;
    font-size: 2.4rem;
    color: var(--background-btn);
    cursor: pointer;
}

.text-block__continue p{
    margin-right: 16px;
}
/* .text-block__continue i{

} */

/* Trip planers */
                    
.trip__planers{
    margin-top: 48px;
    margin-bottom: 48px;
}

.trip__planers-heading{
    margin: 48px 0 32px 0;
    padding-left: 16px;
}
.trip__planers-title{
    font-size: 4.4rem;
    line-height: 5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 24px 0;
    color: #172432;
    font-weight: 400;
}

.trip__planers-content{
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #767E86;
    padding: 24px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.trip__planers-btn{
    width: 140px;
    background-color: var(--background-btn);
    border-radius: 12px;
    margin-left: 16px;
    position: relative;
}
.trip__planers-btn::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #172432;
    border-radius: 12px;
    top: -15px;
    left: -15px;
    z-index: -1;
}
.trip__planers-btn::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #767E86;
    border-radius: 12px;
    bottom: -15px;
    right: -15px;
    z-index: -1;
}

.trip__planers-btn:hover{
    background-color: #1dd865;
    cursor: pointer;

}
.trip__planers-btn p{
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 18px 10px;
}

/* ===Planer content */
.trip__planers-card-wrap{
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.trip__planers-card-wrap::-webkit-scrollbar{
    display: none;
}

.trip__planers-img{
    margin-top: 48px;
    margin-bottom: 96px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 26px;
    box-shadow: 0 2px 4px var(--background-btn);
    cursor: pointer;

}
.trip__planers-img:hover .trip__planers-info{
    display: flex;
}

.trip__planers-info{
    height: 100%;
    width: 100%;
    border-radius: 26px;
    background-color: rgba(219, 52, 15, 0.6);
    flex-direction: column;
    justify-content: center;
    animation: fadeIn linear 0.3s;
    display: none;
}

.trip__planers-info-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.trip__planers-info-header p{
    font-size: 2rem;
    color: #172432;
    text-transform: uppercase;
    padding: 16px 0;
    color: var(--white-color);

}
.trip__planers-info-header span{
    font-size: 2rem;
    color: #172432;
    padding: 16px 0;
    color: var(--white-color);
}
.trip__planers-info-name{
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: var(--white-color);
    text-shadow: 1px 0 2px yellow;
}

.trip__planers-info-rating{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip__planers-info-rating-star i{
    padding:16px 4px 8px 0;
    font-size: 1.4rem;
    color: #767E86;
}   

.star__active i{
    color: #FFC107;
}

/* Destination gallery */

.gallery__heading{
    margin-bottom: 80px;
    margin-left: 12px;
}
.gallery__heading-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.4rem;
    line-height: 5rem;
    font-weight: 400;
    color: #172432;
    padding: 16px 0;
}

.gallery__heading-content{
    font-size: 1.8rem;
    color: #767E86;
    padding: 16px 0;
}


.gallery__img-wrap{
    padding: 48px 48px;
    margin-bottom: 48px;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.gallery__img-wrap::-webkit-scrollbar{
    display: none;
}
.gallery__img{
    height: 480px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 22px;
    box-shadow: 0px 2px 4px var(--background-btn);
    transition: transform 0.2s;
}

.gallery__img:hover{
    cursor: pointer;
    transform:translateX(-4px) translateY(-12px) scale(1.1);
}

/* Traveler Experience */
.traveler{
    margin-bottom: 144px;
}

.traveler__heading{
    margin-top: 48px;
    margin-bottom: 48px;
    padding-left: 12px;
}
.traveler__heading-header{
    font-size: 4.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 5rem;
    color: #172432;
    padding: 16px 0;
}
.traveler__heading p{
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #767E86;
    padding: 16px 0;
}
/* ======== */
.traveler__card-wrap{
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.traveler__card-wrap::-webkit-scrollbar{
    display: none;
}

.traveler__card{
    margin-top: 80px;
    margin-bottom: 60px;
    position: relative;
    box-shadow: 0 2px 4px var(--background-btn);
    margin-right: 8px;
}
.traveler__card-avt{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    box-shadow: 0px 2px 4px var(--background-btn);
    position: absolute;
    top: -60px;
    left: 40px;
}
.traveler__card-content{
    background-color: #F5F6F7;
    border-radius: 12px;
}
.traveler__card-content-text{
    font-size: 1.8rem;
    color: #767E86;
    line-height: 2.2rem;
    padding: 64px 40px 32px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.traveler__card-rating{
    padding: 0 40px 32px 40px;
    display: flex;
}
.traveler__card-star{
    margin-right: 4px;
}
.traveler__card-star i{
    font-size: 2rem;
}
.traveler__card-name{
    padding: 0 40px 16px 40px;
    color: #767E86;
    font-size: 2.4rem;
    font-family: 'Times New Roman', Times, serif;
}


.traveler__card-account{
    color: #767E86;
    padding: 0 40px 16px 40px;
    font-size: 1.8rem;
}

/* Footer */

.footer-wrap{
    padding-bottom: 64px;
}
.footer{
    background-color: #172432;
}

.footer__logo-wrap{
    padding: 16px 8px;
}

.footer__logo{
    display: flex;
}
.footer__logo i{
    color: var(--white-color);
    font-size: 4.2rem;
    margin-right: 4px;
}

.footer__logo-name{
    color: var(--white-color);
    font-size: 4.2rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 5rem;

}
.footer__copy-right{
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 8px 0;
}

/* ---- */

.footer__contact-info{
    padding-top: 16px;
    color: var(--white-color);
}

.footer__contact-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.2rem;
    line-height: 4rem;
    padding-bottom: 8px;
}
/* .footer__contact-list{
} */

.footer__contact-item{
    padding: 8px 0;
    font-size: 1.4rem;
}
/* .item__number-phone{

}

.item__mail{

}

.item__address{

} */

.footer__contact-icon{
    padding-top: 16px;
}

.footer__icon-header{
    color: var(--white-color);
    font-size: 4.2rem;
    font-family: 'Times New Roman', Times, serif;

}

.footer__icon-list{
    display: flex;
    flex-wrap: wrap;
}

.footer__icon-item{

    padding: 16px 16px 16px 0;
    
} 
.footer__icon-item a{
    color: var(--white-color);
    font-size: 2.4rem;
}




